# Template
# Copy this file to .env and fill in the values
AI_HORDE_URL="https://aihorde.net/api/"
AI_HORDE_DEV_URL="http://localhost:7001/api/"

AI_HORDE_DEV_APIKEY="devkey"

RATINGS_URL="https://ratings.aihorde.net/api/"
RATINGS_DEV_URL="http://localhost:7002/api/"

RATINGS_DEV_APIKEY=${AI_HORDE_DEV_APIKEY}
