repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
    -   id: black
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.3
    hooks:
    -    id: ruff
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.10.0'
    hooks:
    -   id: mypy
        args: [., --strict, --ignore-missing-imports, --exclude=^codegen]
        pass_filenames: false
        additional_dependencies: [
            pytest,
            pydantic,
            types-Pillow,
            types-requests,
            types-pytz,
            types-setuptools,
            types-urllib3,
            StrEnum
        ]
