pytest==7.4.0
mypy==1.4.1
black==23.7.0
ruff==0.0.282
tox~=4.6.3
pre-commit~=3.3.3
build>=0.10.0
coverage>=7.2.7

pytest-cov
gevent

babel

types-Pillow
types-pytz
types-requests==2.31.0.1
types-setuptools
types-urllib3
