babel==2.12.1
black==23.3.0
build==0.10.0
cachetools==5.3.1
cfgv==3.3.1
chardet==5.1.0
click==8.1.5
colorama==0.4.6
coverage[toml]==7.2.7
distlib==0.3.6
exceptiongroup==1.1.2
filelock==3.12.2
identify==2.5.24
iniconfig==2.0.0
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.1
platformdirs==3.8.1
pluggy==1.2.0
pre-commit==3.3.3
pyproject-api==1.5.3
pyproject-hooks==1.0.0
pytest==7.4.0
pytest-asyncio==0.21.1
pytest-cov==4.1.0
pyyaml==6.0
ruff==0.0.275
tomli==2.0.1
tox==4.6.3
types-colorama==0.4.15.11
types-docutils==0.20.0.1
types-pillow==10.0.0.1
types-pygments==2.15.0.1
types-pytz==2023.3.0.0
types-pyyaml==6.0.12.10
types-requests==2.31.0.1
types-setuptools==68.0.0.1
types-urllib3==1.26.25.13
typing-extensions==4.7.1
virtualenv==20.23.1

setuptools # May not resolve to correct version?
